/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container{
    width: 800px;
    margin: 0 auto;
}

.header-content {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    padding: 3%;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
}

header .header-img {
    padding-top: 1%;
    padding-bottom: 1%;
}

header nav a {
    text-decoration: none;
    color: black;
    font-style: bold;
}

.top-content {
    padding: 3% 2%;
    padding-bottom: 4%;
    border-bottom: dashed 1.5px black;
}

.middle-content {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 800px;
}

.middle-content .row {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    width: 380px;
    border-bottom: dashed 1.5px black;
    padding: 2% 1%;
    margin: 1%;
}

.middle-content .row img {
    padding-bottom: 4%;
    align-self: flex-start;
}

.middle-content button {
    font-size: 1rem;
    padding: 2% 6%;
    margin-top: 4%;
    margin-bottom: 5%;
    border: solid 2px black;
    border-radius: 10px;
}

.bottom-content {
    padding: 5% 2%;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}